/**********************************************
* CSS Styles for Bootcamp Wireframe Exercise
* http://bootcamp-coders.cnm.edu
*
* Ref:  @author rlewis37@cnm.edu
* Modified by scaleup13@gmail.com
***********************************************/

/**********************************************
* Layout styles
**********************************************/

header {
	padding-top: 20px;
}

footer {
	background-color: #000000;
	color: aqua;
	margin-top: 10px;
	padding: 10px 0;
}

/***********************************************
* Utility Styles
*
* These are intended to be reused
*for styling purposes
***********************************************/

.dropdown-menu {
	width: 300px;
}

.form-horizontal .form-group {
	margin-right: 15px;
	margin-left: 15px;
}

.text-box {
	border-radius: 6px;
	padding: 10px 15px 15px;
	margin-bottom: 20px;
}

.bg-aqua {
	background: aqua;
}

.by-gray {
	background: #eeeeee;
}

/***********************************************
* Bootstrap Overrides
*
* These styles override the bootstrap defaults
***********************************************/



.bg-image {
	background: url("../img/sandiaMtnNM.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* this rule fixes the icon color in the mobile toggle button */
.navbar-header button span.glyphicon {
	color: #ffffff;
}

/*********************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer
*********************/

/* corrects IE min-height bug */
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

.row {
	margin-bottom: 20px;
}

/***************************
*  Google maps style stuff
*  Ref: https://developers.google.com/maps/tutorials/fundamentals/adding-a-google-map
***************************/

.ng-map {
	width: auto;
	height: 300px;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	.ng-map{
		width: 600px;
		height: 450px;
	}

}