<phpunit>
	<testsuites>
		<testsuite name="Trail Quail">
			<file>trail-relationship-test.php</file>
			<file>comment-test.php</file>
			<file>segment-test.php</file>
			<file>trail-test.php</file>
			<file>rating-test.php</file>
			<file>user-test.php</file>
			<file>anti-abuse-test.php</file>
		</testsuite>
	</testsuites>
</phpunit>